
body {
    background-color: rgba(242, 237, 230, 0.888);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

h1 {
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin-bottom: 5px;
}

input[type="text"] {
    padding: 8px;
    margin-bottom: 10px;
    width: 250px;
}

button {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 6px;
    color: #fff;
}

.btn-purple {
    background-color: violet;
}

.btn-blue {
    background-color: rgb(78, 78, 240);
}

.btn-green {
    background-color: green;
}

.btn-purple:hover {
    background-color: #8a2be2; 
}

.btn-blue:hover {
    background-color: #0920a4; 
}

.btn-green:hover {
    background-color: #28bc39;
}


#results {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f9f9f9; /* Cor de fundo */
    padding: 10px; /* Adicione algum preenchimento */
    border-radius: 10px; /* Borda arredondada */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
    max-width: 600px; /* Largura máxima */
}


#results {
    margin-top: 50px;
    display: flex;
    align-items: center;
}

#resultsList {
    font-size: 14px;
    list-style: none;
    padding: 0;
    margin: 0;
    /* margin-top: 15px;  */
}

li {
    margin-bottom: 10px; 
    background-color: #fff; 
    padding: 10px; 
    border-radius: 5px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

